body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-color: #fafafa;
}

.game-container{
    width: 320px;
    height: 320px;
    border: 1px solid #ccc;
    overflow:hidden;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:5px;
}
.cell{
    width: 77px;
    height: 77px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #000;
}

.score-container{
    width:320px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.cell[data-value="2"]{
    background-color:pink;
}
.cell[data-value="4"] {
    background-color: lightblue;
}

.cell[data-value="8"] {
    background-color: lightgreen;
}

.cell[data-value="16"] {
    background-color: lightcoral;
}

.cell[data-value="32"] {
    background-color: lightsalmon;
}

.cell[data-value="64"] {
    background-color: lightseagreen;
}

.cell[data-value="128"] {
    background-color: lightgoldenrodyellow;
}

.cell[data-value="256"] {
    background-color: lightsteelblue;
}

.cell[data-value="512"] {
    background-color: lightpink;
}

.cell[data-value="1024"] {
    background-color: lightcyan;
}

.cell[data-value="2048"] {
    background-color: lightyellow;
}
#restart-btn{
    margin-top: 15px;
    padding: 10px 15px;
    background-color:#f4f4f4;
    border:none;
    cursor:pointer;
    transition: all 0.3s ease;
}
#game-over{
    position: absolute;
    top:50%;
    left:50%;
    padding: 20px;
    transform: translate();
    background-color:rgba(0,0,0, 0.8);
    color:#fff;
    display:none;
    flex-direction:column;
    align-items: center;
    justify-content:center;

}