.user-card {
    -fx-fill: rgba(255,255,255,0.3);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
    -fx-font-size: 40px;
    -fx-min-width: 300px;
    -fx-min-height:300px;
}

.idLabel{
    -fx-background-color:rgba(255,255,255,0.3);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-min-width: 100px;
    -fx-min-height:50px;
}

.nameLabel{
    -fx-background-color:rgba(255,255,255,0.3);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-min-width: 100px;
    -fx-min-height:50px;
}
.rankLabel{
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-min-width: 100px;
    -fx-min-height:50px;

}
