.user-card{
    -fx-background-color:rgba(255,255,255,0.3);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
    -fx-backdrop-filter: blur(10px);
    -fx-font-size: 40px;
    -fx-text-fill: black;
    -fx-min-width: 300px;
    -fx-min-height:300px;
}
.idLabel{
    -fx-background-color:rgba(255,255,255,0.3);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
    -fx-backdrop-filter: blur(10px);
    -fx-font-size: 40px;
    -fx-text-fill: black;
    -fx-min-width: 300px;
    -fx-min-height:300px;
}
.btn{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
    -fx-backdrop-filter: blur(10px);
    -fx-font-size: 40px;
    -fx-min-width: 200px;
    -fx-min-height:100px;
}
.nameLabel{
    -fx-background-color:rgba(255,255,255,0.3);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
    -fx-backdrop-filter: blur(10px);
    -fx-font-size: 40px;
    -fx-text-fill: black;
    -fx-min-width: 300px;
    -fx-min-height:300px;
}
.rankLabel{
    -fx-background-color:rgba(255,255,255,0.3);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
    -fx-backdrop-filter: blur(10px);
    -fx-font-size: 40px;
    -fx-text-fill: black;
    -fx-min-width: 300px;
    -fx-min-height:300px;

}
.rankLabel[text="2"]{
    -fx-background-color:pink;
}
.rankLabel[text="4"] {
    -fx-background-color: lightblue;
}

.rankLabel[text="8"] {
    -fx-background-color: lightgreen;
}

.rankLabel[text="16"] {
    -fx-background-color: lightcoral;
}

.rankLabel[text="32"] {
    -fx-background-color: lightsalmon;
}

.rankLabel[text="64"] {
    -fx-background-color: lightseagreen;
}

.rankLabel[text="128"] {
    -fx-background-color: lightgoldenrodyellow;
}

.rankLabel[text="256"] {
    -fx-background-color: lightsteelblue;
}

.rankLabel[text="512"] {
    -fx-background-color: lightpink;
}

.rankLabel[text="1024"] {
    -fx-background-color: lightcyan;
}

.rankLabel[text="2048"] {
    -fx-background-color: lightyellow;
}
